
  <div class="container about_header">
    <div class="row">
      <div class="col-sm-8">
      <h1>About Us</h1>
        <p class="about_us">
          We’ve all experienced the beauty of the trail or the freedom of the open road. For many, cycling presents a world of possibilities and opportunities at every turn. At Jenson USA, our passion for cycling sprouted back in 1994 and has since taken root and grown into a community of people devoted to living life to its fullest. We're building a culture of people who respect each other, set the pace, and lead through service. We strive daily to better serve our customers, our fellow employees, and our community. Over the years we’ve found that happy people are hardworking people, and that the time we spend on two wheels together builds the greatest profit of all.<br>
          We all approach life with different stories and special experiences that have shaped us into who we are as individuals. Deep down, it's a love of adventure that brings us together, inspires us to push the limits of what we are capable of, and daily rediscover the freedom found when we first started pedaling.
        </p>
      </div>
      <div class="col-sm-4">
        <%=image_tag "ride-experience-explore"%>
      </div>
    </div>
  </div>

