<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="header">NEED GEAR ADVICE?</h1>
      <p class="contact_us">
        Our Gear Advisors are Ready to Help <br>
        call us: 888-880-3811
      </p>
    </div>
    <div class="col-sm-4">
      <%=image_tag "ride-experience-explore", class:"img-responsive img_quote"%>
    </div>
  </div>
</div>
