<div class="container">
  <div class="row">
    <div class="col-sm-6"></div> 
      <%=image_tag "bike2.png", class:"img-responsive main_image"%>
    </div>
    <div class="col-sm-6"></div> 
      <%=image_tag "ride-experience-explore.png", class:"img-responsive img_quote_index"%>
    </div>
  </div>
</div>