// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site_footer {
  background-color: orange;
  height: 50px;
  position: relative;
 
}

.main_image {
  padding-top: 40px;
  position: relative;
}

